body{
    color:white;
    border: 1px solid #ababab;
    padding: 1%;
	width: 30%;
	margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}
input {
    display: none;
}

label {
    display: block;  
    padding: 8px 22px;  
    background: grey;
    transition: ease .5s;
    position: relative;
}

label::after {
    content: '+';
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 2px;
}

input:checked + label::after {
    content: '-';
}

label:hover {
    background: #d7d7d7 ;
}

.content {
    background: grey;
    border: 1px solid black;
    cursor: grab;
    overflow: hidden;
    display: flex;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

.content img{
    height: 100%;
    width: 100%;
}